<form (ngSubmit)="onSubmit()" [formGroup]="form">
	<label for="city"><span class="required-star">* </span>City</label>
	<select name="city" id="city" formControlName="city">
		<option value="">Please select a city</option>
		@for (city of CITIES; track city.requestKey) {
		<option [value]="city.city">{{ city.readableName }}</option>
		}
	</select>
	@if (form.get('city')?.touched && form.get('city')?.errors?.['required']) {
	<small>This field is required</small>
	}

	<label for="startDate"><span class="required-star">* </span>Start date</label>
	<input
		formControlName="startDate"
		type="date"
		id="startDate"
		placeholder="Select date"
		[min]="dateRestrictions.min"
		[max]="dateRestrictions.max"
	/>
	@if (form.get('startDate')?.touched &&
	form.get('startDate')?.errors?.['required']) {
	<small>This field is required</small>
	}

	<label for="endDate"><span class="required-star">* </span>End date</label>
	<input
		id="endDate"
		formControlName="endDate"
		type="date"
		placeholder="Select date"
		[min]="dateRestrictions.min"
		[max]="dateRestrictions.max"
	/>
	@if (form.get('endDate')?.touched &&
	form.get('endDate')?.errors?.['required']) {
	<small>This field is required</small>
	}

	<div class="form-buttons">
		<button (click)="closeModal()" class="btn btn-flat">Cancel</button>
		<button type="submit" [disabled]="form.invalid" class="btn btn-accent">
			Save
		</button>
	</div>
</form>
