@import '../../shared/style/variables';

:host {
	display: block;
	margin-bottom: 0.3em;
}

.trips-wrapper {
	display: flex;
	gap: $card-gap;
	overflow-x: hidden;
	scroll-snap-type: x mandatory;
	width: calc($card-width * 3 + $card-gap * 2 + 6px);
	padding-left: 1px;
	padding-bottom: 1.1em;

	&:hover {
		overflow-x: auto;
		padding-bottom: 0.85em;
	}

	&::-webkit-scrollbar {
		height: 4px;
	}

	&::-webkit-scrollbar-track {
		background-color: lightgrey;
	}

	&::-webkit-scrollbar-thumb {
		background-color: gray;
		border-radius: 5px;
	}

	@-moz-document url-prefix() {
		scrollbar-color: gray lightgrey;
		scrollbar-width: thin;
	}
}
