@if (timeLeft().days) {
<div class="count">
	<p>{{ timeLeft().days }}</p>
	<p class="time-measure">DAYS</p>
</div>
}
<!--  -->
@if (timeLeft().hours || timeLeft().days){
<div class="count">
	<p>{{ timeLeft().hours }}</p>
	<p class="time-measure">HOURS</p>
</div>
}
<!--  -->
@if (timeLeft().minutes || timeLeft().hours || timeLeft().days){
<div class="count">
	<p>{{ timeLeft().minutes }}</p>
	<p class="time-measure">MINUTES</p>
</div>
}
<div class="count">
	<p>{{ timeLeft().seconds }}</p>
	<p class="time-measure">SECONDS</p>
</div>
