<!-- TODO: user picture when he logged -->
<div class="avatar">
	@if (user$ | async; as user) {
	<img [src]="user.photoURL" alt="User profile picture" />
	} @else {
	<img
		src="../../../assets/pictures/avatar_penguin.webp"
		alt="User profile picture"
	/>
	}
</div>

@if (currentWeather$ | async; as currentWeather) {
<div class="weather-data">
	<p>{{ currentWeather.datetime | date : 'EEEE' }}</p>
	<p>
		{{ currentWeather.temp | number : '1.0-0' }}<span class="degree">℃</span>
		{{ currentWeather.icon }}
	</p>
</div>
}
<!--  -->
@if (currentTrip()) {
<p>{{ CITIES[currentTrip()!.city].readableName }}</p>

<wt-counter [reverseCountTo]="currentTrip()!.startDate" />
}
