<div class="avatar">
	@if (user$ | async; as user) {
	<img [src]="user.photoURL" alt="User profile picture" />
	} @else {
	<img
		src="../../../assets/pictures/avatar_penguin.webp"
		alt="User profile picture"
	/>
	}
</div>

@if (currentWeather$ | async; as currentWeather) {
<div class="weather-data">
	<p class="day">{{ currentWeather.datetime | date : 'EEEE' }}</p>
	<p class="temperature">
		<span class="weather-icon">
			{{ currentWeather.icon }}
		</span>
		{{ currentWeather.temp | number : '1.0-0' }}<span class="degree">℃</span>
	</p>
</div>
}
<!--  -->
@if (currentTrip()) {
<p class="city">{{ CITIES[currentTrip()!.city].readableName }}</p>

<wt-counter [reverseCountTo]="currentTrip()!.startDate" class="counter" />
}
