.avatar {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: firebrick;
	font-size: 0.7rem;
	display: grid;
	place-items: center;
	overflow: hidden;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
