<!-- TODO: user picture when he logged -->
<button class="avatar" (click)="handleAuth()">Log in</button>

@if (currentWeather$ | async; as currentWeather) {
<div class="weather-data">
	<p>{{ currentWeather.datetime | date : 'EEEE' }}</p>
	<p>
		{{ currentWeather.temp | number : '1.0-0' }}<span class="degree">℃</span>
		{{ currentWeather.icon }}
	</p>
</div>
}
<!--  -->
@if (currentTrip()) {
<p>{{ CITIES[currentTrip()!.city].readableName }}</p>

<wt-counter [reverseCountTo]="currentTrip()!.startDate" />
}
